<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>live</title>
  <meta name="description" content="item tube live">
  <meta name="author" content="item">
  <!-- <link rel="stylesheet" href="css/styles.css"> -->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
	Tube live
  <!-- // <script src="js/scripts.js"></script> -->
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script>
  // initialize client with app credentials
  SC.initialize({
    client_id: '5409ed67988608ebd6ab1ab4264243f8',
    redirect_uri: 'weberse.com'
  });

  // initiate auth popup
  SC.stream("/tracks/293", function(sound){
    sound.play();
  });
  </script>
</body>
</html>